extends layout

block content
  div(align='middle')
    h1= title

    div Led current is currently:
    div #{ledState}

    div(class='button-container')
      form(action="/actuators/turnOnLED", method="get")
        input(type="submit", value="Turn LED on" class="button-submit")
      div(class='divider')
      form(action="/actuators/turnOffLED", method="get")
        input(type="submit", value="Turn LED off" class="button-submit")
      div(class='divider')
      form(action="/actuators/toggleLED", method="get")
        input(type="submit", value="Toggle LED" class="button-submit")
    form(action="/", method="get")
        input(type="submit", value="Back" class="button-back")