extends layout

block content
  div(align='middle')
    h1= title
    p Welcome to #{title}

    div(class='button-container')
      form(action="/sensors", method="get")
        input(type="submit", value="Sensors" class="button-submit")
      div(class='divider')
      form(action="/actuators" method="get")
        input(type="submit", value="Actuators" class="button-submit")